:root {
    --pixel_size: 0;
}

.container {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container > * {
    flex: 0 1 auto;
}
.navbar {
    padding: 10px;
}

.row {
    display: flex;
}

.pixel {
    width: var(--pixel_size);
    height: var(--pixel_size);
    box-sizing: border-box;
    border: 1px solid grey;
    /* padding: 5px; */
}